version: 2
jobs:
  build:
    docker:
      - image: circleci/openjdk:8-jdk
      - working_directory: ~
    steps:
      - checkout
      - run:
          name: "demo zip"
          command: |
            sudo apt-get update
            sudo apt install zip
            ls -la
