version: 2
jobs:
  build:
    machine:
      image: ubuntu-1604:201903-01
    steps:
      - checkout
      - run:
          name: "demo zip and awscli"
          command: |
            sudo apt-get update
            sudo snap install aws-cli --classic
            sudo apt install zip
            zip -jr ~/webapp3.zip ~/project
      - run:
          name: "install aws-cli"
          command: |
            aws --version
            echo $AWS_ACCESS_KEY_ID
      - run:
          name: "update zip file on s3"
          command: |
            aws s3 cp ~/project/webapp3.zip s3://codedeploy.myc339.me/