version: 2
jobs:
  build:
    docker:
      - image: circleci/python:3.7
      - image: circleci/mariadb:10.3
        environment:
          MYSQL_HOST: 127.0.0.1
          MYSQL_DB: spring2
          MYSQL_USER: root
          MYSQL_ROOT_PASSWORD: 123456
    steps:
      - checkout
      - run:
          name: "install mysql,aws-cli,zip,mvn"
          command: |
            sudo apt-get install -y zip
            pip3 install --upgrade --user awscli
            sudo apt-get install -y mariadb-client
            sudo apt install maven
      - run:
          name: "check zip,mysql,awscli,mvn"
          command: |
            zip
            aws --version
            mysql --version
            mvn --version
      - run:
          name: "database test"
          command: sudo mysql -h 127.0.0.1 -uroot -p123456 -e "create database spring2;"
      - run:
          name: "select db"
          command: sudo mysql -h 127.0.0.1 -uroot -p123456 -e "show databases;"
      - run:
          name: "run user integration  test "
          command: |
            cd ~/project/webapp/assignment2
            mvn -Dtest=UserRepositoryControllerTest test
      - run:
          name: "run recipe integration  test"
          command: |
            cd ~/project/webapp/assignment2
            mvn -Dtest=RecipeRepositoryControllerTest test
      - run:
          name: "run S3 integration  test"
          command: |
            cd ~/project/webapp/assignment2
            mvn -Dtest=FileHandlerControllerTest test
      - run:
          name: "zip"
          command: |
            cd ~/project
            zip -r ~/webapp.zip *
      - run:
          name: "update zip file on s3"
          command: |
            aws s3 rm s3://codedeploy.myc339.me/webapp.zip
            aws s3 cp ~/webapp.zip s3://codedeploy.myc339.me/