version: 2
jobs:
  build:
    docker:
      - image: python:3.7
        environment:
          MYSQL_HOST: localhost
          MYSQL_DB: spring2
          MYSQL_USER: root
          MYSQL_PASSWORD: 123456
      - image: mariadb:10.3
        environment:
          MYSQL_USER: root
          MYSQL_PASSWORD: 123456
    steps:
      - checkout
      - run: sudo apt install -y mysql -client
      - run:
          name: "database test"
          command: mysql -h localhost -uroot -p123456 -e "create database spring2;"
      - run:
          name: "install  zip and awscli,mysql"
          command: |
            sudo apt-get update
#            sudo apt install zip
#            cd ~/project
#            zip -r ~/webapp.zip *
      - run:
          name: "install aws-cli"
          command:
            sudo snap install aws-cli --classic
#      - run:
#          name: "update zip file on s3"
#          command: |
#            aws s3 rm s3://codedeploy.myc339.me/webapp.zip
#            aws s3 cp ~/webapp.zip s3://codedeploy.myc339.me/